:root {
  --basic-black: #000000;
  --basic-extra-dark: #242424;
  --basic-dark: #aba9a7;
  --basic-neutral: #e5e5e5;
  --basic-extra-light: #f8f5f2;
  --basic-white: #ffffff;

  --special1: #766357;
  --special-marin: #81B3D2;
  --somehow-grey:#EEEEEE;
  --special-border:#E5E5E5;
  
}

.page-body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: var(--basic-black);
  text-transform: uppercase;
  text-align: center;
}

.site-navigation a{
text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.main-navigation {
  color: var(--basic-white);
  background-color: transparent;
}

.main-navigation-wrapper {
  background-color: var(--basic-wtite);
}
.site-navigation {
  list-style: none;
}

/* User navigation */
.site-navigation a,
.user-navigation a {
  color: var(--basic-black);
}

.site-navigation a:hover {
  color: var(--special-marin);
}

.site-navigation a:focus {
  color: var(--basic-black);
}

.site-navigation a:visited {
  color: var(--special1);
}

.introduction p{
 font-weight:400;
 line-height: 26px;
}

.reasons {
  font-weight:400;
}

.reasons-list {
  list-style: none;
}


.reasons-item-blue h3 {
  font-size: 21px;
  line-height: 21px;
}

.reasons-item-blue {
  background-color: var(--special-marin);
  color: white;
}

.reasons-inside h3{
  font-size: 21px;
  line-height: 21px;
}

.reasons-inside {
 background-color: white;
 color: black;
}

.reasons-item-grey h3 {
  background-color: var(--somehow-grey);
 color: black;
}
.reasons-item-grey {
  background-color: var(--somehow-grey);
 color: black;
}


.appointment h2{
  font-size:30px;
}

.appointment-first{
  line-height: 24px;
  font-size: 14px;
  font-weight: 400;
}

.appointment-item {
  line-height: 26px;
  font-size: 14px;
}

.button-search{
 background-color: #766357;
 color: white;
 font-size: 21px;
 line-height: 26px;
 height: 86px;
 width:568px;
}

.button-search:hover{
  background-color: #604E43;
}

.button-search:focus{
  background-color: #503E33;
  opacity: 0.9;
}

.button{
background-color: var(--special-marin);
 color: white;
 font-size: 21px;
 line-height: 26px;
 height: 58px;
 width:458px;
 }

 .appointment-item input[type="date"],
 .appointment-item input[type="text"] {
   font: inherit;
   color: var(--basic-black);
   text-transform: uppercase;
   background-color: #F2F2F2;
   border: none;
 }

 
.appointment-item input:hover {
  background-color: #EBEBEB;
  border: none;
}
 
 .appointment-item input:focus {
   background-color: var(--basic-white);
   
 }




 .button:hover{
  background-color: #669EC0;
}

.button:focus{
  background-color: #5496BD;
}

.main-footer {
  color: var(--basic-black);
  background-color: var(--basic-white);
  background-position: 0 0;
  background-repeat: repeat;
}

.contacts-phone{
list-style: none;
color:black;
text-decoration: none;
}

